body{
    margin: 0;
    padding: 0;
}

.container{
    background-color: rgb(29, 17, 49);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
    color: white;
}

.btn{
    font-size: 5rem;
    background-color: rgb(255, 255, 255);
    color: black;
    height: 5vh;
    width: 5vw;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(193, 192, 227);
}

.card{
    font-size: 5rem;
}